@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: OpenSans-menu;
    src: url(../fonts/OpenSans-CondLight.ttf);
}
html { 
	overflow-y:  scroll;
}
body {
	font-family: OpenSans-menu;
	background-image:url(../images/fon_5.jpg);
}
.blink {
/*background-color: #EDEDED !important;*/
  animation-name: blinker;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1.0,2.0,0,1.0);
  animation-duration: 1.5s;
  -webkit-animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(1.0,2.0,0,1.0);
  -webkit-animation-duration: 1.5s;
}
 
@keyframes blinker {
  from { opacity: 0.2; }
  to { opacity: 1.0; }
}
 
@-webkit-keyframes blinker {
  from { opacity: 0.2; }
  to { opacity: 1.0; }
}
#modal {
	background-image:url(../images/fon_5.jpg) !important;
}
#all_search {
	margin-top: 2%;
	height: 40px;
}
.time tr:nth-child(2) {
	background-color: rgba(25,166,55,1.00);
}
.time tr:nth-child(n+3) {
	/* [disabled]height: 251px; */
	background-color: rgba(188,255,187,1.00);
}
.time tr:nth-child(12n+2) {
	border-bottom: 2px solid #000000;
}
/*.time tr:not(:nth-child(13n+2)) {
	border-bottom: 1px solid rgba(188,255,187,1.00);
}*/
table:not(.oplata) {
	border-collapse: collapse;
	width: auto;
	display: flex;
	justify-content: center;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border: 1px solid #000;
	margin-left: -1px;
}
thead th {
	position: sticky;
	top: 0;
}
th {
	color: #000000;
	background-image: -webkit-linear-gradient(270deg,rgba(248,255,181,1.00) 31.09%,rgba(172,161,10,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(248,255,181,1.00) 31.09%,rgba(172,161,10,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(248,255,181,1.00) 31.09%,rgba(172,161,10,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(248,255,181,1.00) 31.09%,rgba(172,161,10,1.00) 100%);
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;	
}
table td {
	border: 1px solid #333333;
	text-align: center;
}
.pre {
	white-space:pre;
}
.legend>td:nth-child(3n+1) {
	background-color: #D0905D;
}
.legend>td:nth-child(3n+2) {
	background-color: #2F7AD3;
	
}
.legend>td:nth-child(3n+3) {
	background-color: #18BB71;
	min-width: 25px;
}
.legend_all>td:nth-child(n+1) {
	background-color: #FDE9D9;
}
.legend_all>td:nth-child(even) {
	background-color: #BBDAFF;
}
/*.legend_all>td:nth-child(3n+3) {
	font-family: OpenSans-menu;
	background-color: #B99494;
}*/
.legend_graf>td:nth-child(3n+1) {
	background-color: #FDE9D9;
}
.legend_graf>td:nth-child(3n+2) {
	background-color: #BBDAFF;
	overflow: hidden;
	text-overflow: ellipsis;
}
.legend_graf>td:nth-child(3n+3) {
	font-family: OpenSans-menu;
	background-color: #B99494;
}
.legend_all span {
	font-size: 20px;
	font-weight: bold;	
}
/*подсветка преподавателей*/
.legend_graf>td.color1 {
	background-color: #FF8484;
}
.legend_graf>td.color2 {
	background-color: #8EC1FF;
}
.legend_graf>td.color3 {
	background-color: #9BFF93;
}
.legend_graf>td.color4 {
	background-color: #D8A4FF;
}
.legend_graf>td.color5 {
	background-color: #66FFCC;
}
.legend_graf>td.color6 {
	background-color: #391616;
	color: #FFFFFF;
}
.legend_graf>td.color7 {
	background-color: #00B0F0;
}
.legend_graf>td.color8 {
	background-color: #B3BFB8;
}
.legend_graf>td.color9 {
	background-color: #4B560D;
	color: #FFFFFF;
}
.legend_graf>td.color11 {
	background-color: #1B1FED;
	color: #FFFFFF;
}
.legend_graf>td.color12 {
	background-color: #FF552F;
}
.legend_graf>td.color13 {
	background-color: #FFE699;
}
.legend_graf>td.color14 {
	background-color: #7cff11;
}
.legend_graf>td.color15 {
	background-color: #FF0000;
	color: #FFE699;
}
.legend_graf>td.color16 {
	background-color: #ffe923;
}
.legend_graf>td.color17 {
	background-color: #af004c;
	color: #FFFFFF;
}
.legend_graf>td.color18 {
	background-color: #E8C254;
}
.legend_graf>td.color19 {
	background-color: #8C634E;
	color: #FFFFFF;
}

.left_align {
	text-align: left;
}
.legend {
	border-bottom: 2px solid rgba(0,0,0,1.00);
}
.empty:nth-child(12n+14) {
	border-bottom: 2px solid rgba(0,0,0,1.00);
}
.table {
	display: flex;
}
.container {
	display: flex;
	justify-content: center;
	margin-top: 15px;
}
.container-around {
	display: flex;
	justify-content: space-evenly;
	margin-top: 15px;
}
.pagin {
	margin-top: 20px;
	margin-bottom: 20px;
}
.pagin>a {
	text-decoration: none;
	color: #333;
	display: block;
}
#add_pupil, 
#tabs, #tab {
	font-family: OpenSans-menu;
}
#add_pupil input,
#edit_teacher input,
#add_teacher input,
#add_prog input,
#jq_data select,
#pays input,
#tabs-2 input[type="search"],
#tabs-1 input[type="submit"],
#tabs-2 input[type="submit"],
#tabs-3 input[type="submit"],
#tabs-3 select,
#payment select,
#add_programm select,
#change_programm select,
#data_holiday input,
#add_sick input:not(:nth-child(30n+2)),
#form_data_jq select,
#form_data_jq input,
#but_add_lesson,
#form_add_lesson select,
#check_programm select,
#pupil_ticket select {
	display: inline-block;
	width: 50%;
	margin-top: 10px;
	text-align: left;
	background-color: #CFF6FF;
	height: 33px;
	margin-bottom: 10px;
}
#tab-1 input[type="search"],
#tab-2 input[type="search"] {
	height: 33px;
	width: 200px;
	background-color: #CFF6FF;
	margin-top: 10px;
	margin-bottom: 10px;
}
#add_pupil label,
#add_one_less label,
#add_teacher label,
#add_prog label,
#edit_teacher label,
#pays label,
#tab-1 label,
#tab-2 label,
#tabs-1 label,
#tabs-2 label,
#tabs-3 label,
#data_holiday label,
#payment label,
#form_add_lesson label,
#form_data_jq label,
#add_programm label {
	font-family: OpenSans-menu;
	font-size: 18px;
	display: inline-block;
	width: 35%;
	text-align: right;
	vertical-align: middle;
	margin-right: 10px;
	margin-top: -3px;
}
#tab-1 input,
#tab-2 input,
#tabs-1 input,
#tabs-2 input,
#tabs-3 input,
#tabs-4 input,
#data_holiday input,
#form_add_prog input,
#edit_teacher input,
#add_teacher input,
#payment input,
#pays input,
#form_add_lesson input[type="date"],
#add_sick input[type="date"] {
	display: inline-block;
	width: 35%;
	margin-top: 10px;
	text-align: left;
	background-color: #CFF6FF;
	height: 17px;
	margin-bottom: 10px;
}
#period input {
	display: inline-block;
	width: 25%;
	margin-top: 10px;
	text-align: left;
	background-color: #CFF6FF;
	height: 17px;
	margin-bottom: 10px;
}
#tabs-1 label, 
#tabs-4 label, 
#add_sick label,
#add_programm label {
	font-family: OpenSans-menu;
	font-size: 18px;
	display: inline-block;
	width: 25%;
	text-align: right;
	vertical-align: middle;
	margin-right: 10px;
	margin-top: -3px;
}
#period label {
	font-family: OpenSans-menu;
	font-size: 18px;
	display: inline-block;
	width: 9%;
	text-align: right;
	vertical-align: middle;
	margin-right: 10px;
	margin-top: -3px;
}
#tabs-1 input[type="checkbox"],
#tabs-2 input[type="checkbox"],
#tabs-3 input[type="checkbox"],
#tabs-4 input[type="checkbox"],
#tab-1 input[type="checkbox"],
#tab-2 input[type="checkbox"],
#add_teacher input[type="checkbox"],
#edit_teacher input[type="checkbox"],
#test_less input[type="checkbox"] {
	width: 5%;
}
#period  button {
	margin-left: 18px;
}

.month,
.month_modal {
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 20%,rgba(41,208,0,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 20%,rgba(41,208,0,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 20%,rgba(41,208,0,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 20%,rgba(41,208,0,1.00) 100%);
	border-radius: 8px;
	border: 1px solid #1F1F1F;
	font-size: 23px;
	margin-top: 15px;
	text-align: center;
}
.arrow {
	width: 60px;
	margin-right: 20px;
	margin-left: 20px;
}
.flex-center {
	justify-content: center;
	display: flex;
}

.flex-container {
	display: flex;
	justify-content: space-between;
}
.oplata th {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border: 1px solid #000;
}
.oplata {
	border-spacing: 0.5px 0.5px;
	font-family: OpenSans-menu;	
}
.month a,
.month_modal a {
	display: block;
	color: rgba(0,50,87,1.00);
	text-decoration: none;
	padding-top: 3px;
	padding-right: 20px;
	padding-bottom: 3px;
	padding-left: 20px;
}
.month a:hover {
	font-weight: bold;
	text-shadow: 0px 1px rgba(241,241,241,1.00);
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 10%,rgba(32,163,0,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 10%,rgba(32,163,0,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 10%,rgba(32,163,0,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 10%,rgba(32,163,0,1.00) 100%);
	border-radius: 8px;
}
.lesson {
	padding-top: 15px;
	padding-bottom: 0px;
}
#lesson_block {
	display: block;
	margin-left: 7px;
}
.format td {
	text-align: center;
}
td .seek {
	background-color: #F4FF42;
}
td .empty {
	background-color: #C10003;
}
td .present {
	background-color: #00C422;
}
.no_payment{
	background-color:#D47F80 !important;
}	
.no_payment:hover {
	cursor: pointer;
}
.yes_payment{
	background-color:#4DFF61 !important;
}
.strong {
	font-weight: bold;
	font-size: 20px;
	background-color: #FDEC00;
}
/*.variant {
	width: 50%;
}*/
.delete_lesson {
	margin-top: 6px;
	margin-bottom: 8px;
	margin-left: 3px;
	color: #333;
}
.delete_lesson:hover {
	cursor: pointer;
}
.variant {
	width: 50%;
	min-width: 338px;
	max-width: 620px;
}
#logout {
	background-image: -webkit-linear-gradient(270deg,rgba(67,252,65,1.00) 0%,rgba(26,195,0,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(67,252,65,1.00) 0%,rgba(26,195,0,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(67,252,65,1.00) 0%,rgba(26,195,0,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(67,252,65,1.00) 0%,rgba(26,195,0,1.00) 100%);
}
#ShowTime {
	background-image: -webkit-linear-gradient(270deg,rgba(35,35,33,1.00) 0%,rgba(30,30,30,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(35,35,33,1.00) 0%,rgba(30,30,30,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(35,35,33,1.00) 0%,rgba(30,30,30,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(35,35,33,1.00) 0%,rgba(30,30,30,1.00) 100%);
	-webkit-box-shadow: inset 0px 0px 7px 5px #3298C8;
	box-shadow: inset 0px 0px 7px 5px #3298C8;
}
#logout:hover {
	background-image: -webkit-linear-gradient(270deg,rgba(26,195,0,1.00) 0%,rgba(67,252,65,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(26,195,0,1.00) 0%,rgba(67,252,65,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(26,195,0,1.00) 0%,rgba(67,252,65,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(26,195,0,1.00) 0%,rgba(67,252,65,1.00) 100%);
}
#logout1 {
	background-image: -webkit-linear-gradient(270deg,rgba(67,252,65,1.00) 0%,rgba(26,195,0,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(67,252,65,1.00) 0%,rgba(26,195,0,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(67,252,65,1.00) 0%,rgba(26,195,0,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(67,252,65,1.00) 0%,rgba(26,195,0,1.00) 100%);
}
#logout1:hover {
	background-image: -webkit-linear-gradient(270deg,rgba(26,195,0,1.00) 0%,rgba(67,252,65,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(26,195,0,1.00) 0%,rgba(67,252,65,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(26,195,0,1.00) 0%,rgba(67,252,65,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(26,195,0,1.00) 0%,rgba(67,252,65,1.00) 100%);
}
.back {
	background-color: rgba(0,0,0,0.33);
}
#tabs-1 button, 
#tabs-2 button, 
#tabs-3 button {
	font-family: OpenSans-menu;
}
#att label {
	width: 198px;
	text-align:left;
}
.main-container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.logo {
	margin: 0 auto;
	/* [disabled]opacity: 0.8; */
}
.logo:hover {
	margin: 0 auto;
	opacity: 1;
}
.login {
	margin:0 auto;	
}
.div_form {
	border-radius: 5px;
	padding-top: 10px;
	padding-right: 18px;
	padding-bottom: 10px;
	padding-left: 18px;
	border: 1px solid #000000;
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 20%,rgba(41,208,0,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 20%,rgba(41,208,0,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 20%,rgba(41,208,0,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 20%,rgba(41,208,0,1.00) 100%);
}
.warning {
	background-color: #FF6969;
}
.succes {
	background-color: #48D7A4;
}
#branch {
	background-color: #FFFE96;	
}
.section span {
	font-size: 18px;
	background-color: #FFFE62;
	padding-right: 30px;
	padding-left: 30px;
	border-radius: 5px;
	border: 1px solid #575757;
}
.hide {
	display: none;
}
#hide {
	display: flex;
	height: 20px;
}
.input-mini {
	width: 235px;
}
.test_lesson {
	font-weight:bold;
	background-color:#005E1F !important;
	color:#FCFF9F;	
}
.pupil_ticket {
	background-color:#242926 !important;
	color:#EBF39C;
}
.coeff {
	font-family: OpenSans-menu;
	font-size: 0.6em;
}
/***********************************/

/***********************************/

@media (min-width: 1100px) {
		#main-nav {
			line-height: 0;
			text-align: center;
		}
		#main-menu {
			display: inline-block;
		}
		.legend>td:nth-child(3n+2) {
			background-color: #2F7AD3;
			min-width: 150px;
		}
}
